.App {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(26, 24, 24, 0.951) 5%,
    rgba(35, 128, 68, 0.978) 94%
  );

  position: relative;
  font-family: "CircularSpotifyTxT-Black", sans-serif;
  overflow: hidden;
}
